.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) ;
}

.capitalize {
    text-transform: capitalize;
}

.fa-check {
    color: green;
    text-shadow: none;
    font-weight: bold;
}

.fa-times-circle {
    color: red;
    text-shadow: none;
    font-weight: bold;
}

.table-key{
    padding: 1rem;
}

.collapsible-header i{
    margin-right: 0px;
}