.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) ;
}

.shadow-smaller {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25) ;
    font-size: 16px;
}

.capitalize {
    text-transform: capitalize;
}

.fa-check {
    color: green;
    text-shadow: none;
    font-weight: bold;
}

.fa-times-circle {
    color: red;
    text-shadow: none;
    font-weight: bold;
}

.table-key{
    margin-bottom: 0;
}

.collapsible-header i{
    margin-right: 0px;
}

.collapsible-header{
    margin: 0 0 0 0;
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;
}

.collapsible-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.collapsible {
    margin-top: 0;
}

.ora-text {
    color: #f36b02;
}
.bla-bg {
    background-color: #2f2929f2 !important;
}

nav .brand-logo {
color: #403e3e;
}

nav ul a {
font-size: 1.2rem;
color: #081d17;
}

h4 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 1.0933333333rem 0 .656rem 0;
}

.one-line{
    display: inline-block;
}

.tooltipped {
    display: inline;
}

.fa-question-circle {
    font-size: small;
}

.fa-caret-down {
    position: relative;
    left: -5px;
}

.dates-left{
    position: relative;
    left: -5px;
}