{% extends "base.html" %}
{% block content%}

  <div class="row">
    <div class="col s12 m5">
      <div class="card-panel teal">
        <span class="white-text">
            <p>Welcome to Council Votes. Below you will see an ever-growing table of local authority / county council / city council motions. Motions can be on anything from recycling bins to human right.</p>
            <p>Councils have long put the minutes from their meetings online, along with details regarding any motions or votes that took place. The idea of this site is to colate them in one place... with the help of some crowdsourcing.</p>
            <p>If you're interested in submitting a motion register for an account and you'll be able to contribute.</p>
        </span>
      </div>
    </div>
  </div>
            
        
           
    
    
    <h3 class="center-align ora-text text-shadow">All Motions</h3>
    <br>
    <div class="ora-text bla-bg text-shadow row table-key valign-wrapper">
                <div class="col s3 center-align tooltipped" data-position="top" data-tooltip="YYYY-MM-DD"><h4>Date</h4></div>
        
                <div class="col s3 center-align"><h4>Council</h4></div>
                <div class="col s3 center-align"><h4>Motion</h4></div>
                <div class="col s3 center-align tooltipped" data-position="top" data-tooltip="Motion Passed / Rejected"><h4>Result</h4></div>
            
            </div> 


    <ul class="collapsible">
        {% for motion in motions %}
        <li>
            <div class="collapsible-header #5d0606 orange darken-1 shadow-smaller row valign-wrapper">
                <i class="fas fa-caret-down"></i>
                <div class="col s3 center-align dates-left">{{ motion.motion_date }}</div>
                <div class="col s3 center-align">{{ motion.council_name }}</div>
                <div class="col s3 center-align">{{ motion.motion_category }}</div>
                <div class="col s3 center-align"> 
                    {% if motion.motion_pass == "on" %}
                        <i class="fas fa-check"></i>
                    {% elif motion.motion_pass == "off" %}
                        <i class="far fa-times-circle"></i>
                    {% endif %}
                </div>
            
            </div>
            <div class="collapsible-body">
                <p><strong>Motion Text:</strong></p>
                <p>{{ motion.motion_text }}</p>
                <br>
                <!-- 3 columns:  1st = "uploaded by"-->
                <div class="row under-text valign-wrapper card-panel">
                    <div class="col s4 center-align">
                        <p>Uploaded by: <strong>{{ motion.created_by }}</strong></p>
                    </div>

                    <!-- 2nd and 3rd = edit and delete -->
                    <!-- Shows if correct user is logged in -->
                    {% if session.user|lower == motion.created_by|lower %}
                        <div class="col s4 center-align">
                            <a href="{{ url_for('edit_motion', motion_id=motion._id) }}" 
                            class="waves-orange indigo lighten-3 waves-light btn"> 
                                <i class="fas fa-edit"></i>  EDIT
                            </a>
                        </div>
                        <div class="col s4 center-align">
                            <a href="{{ url_for('delete_motion', motion_id=motion._id) }}" class="waves-yellow waves-effect red darken-4 waves-light btn">
                                <i class="fas fa-trash-alt"></i>  DELETE
                            </a>
                        </div>
                        <!-- If incorrect user: buttons are greyed out and functionality replaced with tooltip -->
                    {% else %}
                        <div class="col s4 center-align tooltipped" data-position="top" 
                                data-tooltip="Only the user, {{ motion.created_by|capitalize }} may edit this motion.">
                            <a href="{{ url_for('edit_motion', motion_id=motion._id) }}" class="btn disabled">
                                <i class="fas fa-edit"></i>  EDIT</a>
                        </div>
                        <div class="col s4 center-align tooltipped" data-position="top" data-tooltip="Only the user, {{ motion.created_by|capitalize }} may delete this motion.">
                            <a class="btn disabled">
                                <i class="fas fa-trash-alt"></i>  DELETE
                            </a>
                        </div>
                            
                        </div>
                    {% endif %}
                </div>

                
            
            
        </li>
        {% endfor %}
    </ul>
        

{% endblock %}
