{% extends "base.html" %}
{% block content%}

    {% for motion in motions %}
        {{ motion.motion_category }}<br>
        {{ motion.motion_text }}<br>
        {{ motion.motion_pass }}<br>
        {{ motion.motion_date }}<br>
        {{ motion.link }}
    {% endfor %}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header white-text orange darken-1 text-shadow row">
                <i class="fas fa-caret-down"></i><div class="col s3 center-align">02/10/2020</div>
                <div class="col s3 center-align">Limerick City and County</div>
                <div class="col s3 center-align">Housing and Homelessness</div>
                <div class="col s3 center-align"><i class="fas fa-check"></i></div>
            
            </div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>


        <li>
            <div class="collapsible-header white-text orange darken-1 text-shadow"><i class="fas fa-caret-down"></i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>

    </ul>
        

{% endblock %}
