{% extends "base.html" %}
{% block content%}
    <h3 class="center-align ora-text text-shadow">All Motions</h3>
    <br>
    <div class="ora-text bla-bg text-shadow row table-key valign-wrapper">
                <div class="col s3 center-align"><h4 class="tooltipped" data-position="top" data-tooltip="YYYY-MM-DD">Date</h4></div>
        
                <div class="col s3 center-align"><h4>Council</h4></div>
                <div class="col s3 center-align"><h4>Motion</h4></div>
                <div class="col s3 center-align"><h4 class="tooltipped" data-position="top" data-tooltip="Motion Passed / Rejected">Result</h4></div>
            
            </div> 


    <ul class="collapsible">
        {% for motion in motions %}
        <li>
            <div class="collapsible-header #5d0606 orange darken-1 shadow-smaller row valign-wrapper">
                <div class="col s3 center-align">{{ motion.motion_date }}</div>
                <div class="col s3 center-align">{{ motion.council_name }}</div>
                <div class="col s3 center-align">{{ motion.motion_category }}</div>
                <div class="col s3 center-align"> 
                    {% if motion.motion_pass == "on" %}
                        <i class="fas fa-check"></i>
                    {% elif motion.motion_pass == "off" %}
                        <i class="far fa-times-circle"></i>
                    {% endif %}
                </div>
            
            </div>
            <div class="collapsible-body">
                <p><strong>Motion Text:</strong></p>
                <p>{{ motion.motion_text }}</p>
                <br>
                <!-- 3 colums:  uploaded by, edit, delete -->
                <div class="row under-text valign-wrapper card-panel">
                    <div class="col s4 center-align">
                        <p>uploaded by: <strong>{{ motion.created_by }}</strong></p>
                    </div>

                    <div class="col s4 center-align">
                        <a class="waves-orange indigo lighten-3 waves-light btn"> <i class="fas fa-edit"></i>  EDIT</a>
                    </div>

                    <div class="col s4 center-align">
                        <a class="waves-yellow waves-effect red darken-4 waves-light btn"> <i class="fas fa-trash-alt"></i>  DELETE</a>

                    </div>

                </div>

                
            </div>
            
        </li>
        {% endfor %}
    </ul>
        

{% endblock %}
